---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Read+a+book
    headers:
      Authorization:
      - OAuth oauth_consumer_key="k8Qh8NHsi6jqLcMHUAt9Y90V7", oauth_nonce="35d659bc0d7a3a75d530d29f0c451cfc",
        oauth_signature="pflZMrCvrhS%2FEqXbni30nVe%2FzgE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1444258727", oauth_token="3876495681-S0gNzAmATPGnhYneRptdoOlWISPQOFguxa9qnAO",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 07 Oct 2015 22:58:48 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4e47a9fbf13d14f1dc15b498b522391b
      X-Response-Time:
      - '64'
      X-Transaction:
      - 5b383ed8c3dcd97c
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Wed Oct 07 22:58:48 +0000 2015","id":651894472008179712,"id_str":"651894472008179712","text":"Read
        a book","source":"\u003ca href=\"http:\/\/example.com\" rel=\"nofollow\"\u003eiesntuwmv\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3876495681,"id_str":"3876495681","name":"test_ZHRWbd78eu","screen_name":"zhrwbd78eu","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":true,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Tue
        Oct 06 02:27:32 +0000 2015","favourites_count":0,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Wed, 07 Oct 2015 22:58:48 GMT
recorded_with: VCR 2.9.3
