%h1
  = @achievement.title
  = @achievement.description_html.html_safe
.encouragement
  %h2 Encouragements
  = link_to 'Encourage', new_achievement_encouragement_path(@achievement), id: 'encourage-button'